.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  pointer-events: none;
}

.App-header {
  
}

.App-link {
  color: #61dafb;
}